.dark {
  // 修改暗色模式下的背景颜色
  body {
    background-color: #010725; // 主体
  }
  .navbar{
    background-color: #010725; // 导航栏
  }
  .links{
     background-color: #010725; // 导航栏选项
  }
  .sidebar{
     background-color: #010725; // 侧边栏
  }
  a.sidebar-link{
     background-color: #010725; // 侧边栏文字
  }
  .sidebar-heading{
    background-color: #010725; // 侧边栏文字标题
  }
}